html,body
{
    height: 100%;
    margin: 0px;
padding: 0px;
}
.path1 {
    stroke-dasharray: 280;
    stroke-dashoffset: 280;
    animation: dash 2s infinite;
}
.path2 {
    stroke-dasharray: 305;
    stroke-dashoffset: 305;
    animation: dash 2s infinite;
}
.path3 {
    stroke-dasharray: 243;
    stroke-dashoffset: 243;
    animation: dash 2s infinite;
}
@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}
#div1
{
    width: 678px;
    height: 326px;
    background-color:#2A2B2F;
    margin: auto;
}
#div2
{
    width: 340px;
    height: 150px;
    margin:100px auto;/*垂直外边距问题*/
}
#music
{
    position: absolute;
    right: 0px;
    top:0px;
    width:200px;
    height: 100px;
}
#wordwelcom
{
    position: relative;
    height:100px;
    width:1004px;
    margin:0px auto;
}
.fword {
    font-family: 'Comic Sans MS', cursive;
    position: absolute;
    font-size: 100px;
    font-weight: bold;
    color: #F45551;
}
.bar
{
    filter:alpha(opacity=0); /*IE滤镜，透明度50%*/
    -moz-opacity:0; /*Firefox私有，透明度50%*/
    opacity:0;
}
#content
{
    position: relative;
    margin:40px auto;
    width:920px;
    height:0px;
    background:url(../images/rightback.jpg) no-repeat top center;
    border-radius: 25px;
    -webkit-border-radius: 25px;
}
#content2
{
    position: absolute;
    left:0;
    top:0;
    width:920px;
    height: 300px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
}
#content3
{
    position: absolute;
    left:0px;
    top:0px;
    width:920px;
    height: 300px;
    border-radius: 25px;
    -webkit-border-radius: 25px;
}
#left img
{
    border-top-left-radius: 25px;
    -webkit-border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    -webkit-border-bottom-left-radius: 25px;
}
#left
{   position: absolute;
    left:0px;
    width: 400px;
    height: 300px;
}
#right
{
    position: absolute;
    left: 450px;
    width:520px;
    height:300px;
}
.word3
{
    width:400px;
}
.wordstyle
{
    font-family: "微软雅黑", Arial, Helvetica, sans-serif;
}

#ptrun
{
    position: relative;
    width: 920px;
    height: 300px;
    margin-top:-6px;
    overflow: hidden;
    border-radius: 25px;
    -webkit-border-radius: 25px;
}
#ptrun ul
{
    position: absolute;
    left: 0px;
    top: 0px;
    padding: 0px;
    margin: 0px;
}
#ptrun ul li
{
    list-style: none;
    float: left;
    font-size: 0px;
    padding:5px;
}
#ptrun ul li img{
    display: block;
    vertical-align: middle;
    -moz-border-radius: 25px;
    border-radius:25px;
}

#bottom
{
    margin:10px auto;
}
table
{
    width: 100%;
}
td{
    font-family:幼圆;
    align:center;
    font-size: 30px;
    color:silver;
}
A:link {
    COLOR: silver;
    TEXT-DECORATION: none
}
A:visited {
    COLOR: silver;
    TEXT-DECORATION: none
}
A:hover {
    COLOR: #F45551;
    text-decoration: none;
}
A:active {
    COLOR: #F45551;
}
