#root{
    width: 100%;
    height: 100%;
}
#root > div{
    height: 100%;
}
.header{
    color: #9e9e9e;
}
.header span{
    padding-right: 0.2rem;
}
.logo{
    text-align: center;
}
.logo img{
    width: 60%;
}

.pwh-list {
    text-align: left;
    padding: 24px;
    min-height: 600px;
    background: #fff;
    overflow: hidden;
}
.pwh-list a:link {
    color: #5588ff;
}
.pwh-list a {
    font-size: 0.18rem;
    font-weight: 600;
    color: #5588ff;
}
@media screen and (max-width: 992px) {
    .pwh-list a {
        display: inline-block;
        width: 50%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.pwh-list li {
    margin-bottom: 50px;
    list-style-type: none;
}
.pwh-list li p {
    margin: -3px 0 0 35px;
    color: #a5a5a5;
    font-size: 0.14rem;
}
.pwh-list .repo-icon {
    float: left;
    margin-top: 2px;
    margin-right: 15px;
    color: #666;
}
.octicon {
    display: inline-block;
    vertical-align: text-bottom;
    fill: currentColor;
}
.back{
    width: 36px;
    height: 42px;
    background-color: #001529;
    position:fixed;
    top:64px;
    right:0;
    border-radius: 4px 0 0 4px;
    color: #fff;
    line-height: 42px;
    font-size: 18px;
}
.hi-words1{
    opacity: 0;
    animation: a 2s linear 0.5s forwards;
}
@keyframes a{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.hi-words2{
    opacity: 0;
    animation: b 2s linear 2.5s forwards;
}
@keyframes b{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.hi-words3{
    opacity: 0;
    animation: c 2s linear 4.5s forwards;
}
@keyframes c{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
.hi-words4{
    margin:2rem 0 0 -5rem;
    animation: d 0.5s linear 7s forwards;
}
@keyframes d{
    0% {margin-left: -5rem;}
    100% {margin-left: 0rem;}
}   