html,body{
    height: 100%;
    margin: 0px;
    padding: 0px;
    font:14px/1.8 'Microsoft YaHei','微软雅黑';
}
a{
    color: #9e9e9e;
    text-decoration: none;
}
a:link{
    color: #9e9e9e;
}
li{list-style-type: none;}
#root{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.pwh-header,.pwh-body,.pwh-footer{
    overflow: hidden;
}
.bar{
    width: 200px;
    height: 20px;
    background-color:#e66565;
    position: absolute;
}
.l-t{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    top: 54px;
    left: -36px;
}
.l-b{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    bottom: 54px;
    left: -36px;
}
.r-t{
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    top: 54px;
    right: -36px;
}
.r-b{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    bottom: 54px;
    right: -36px;
}
.pwh-header{
    background-color: #2A2B2F;
    height: 60px;
    border-bottom: none;
    position: relative;
}
.pwh-header-img{
    vertical-align: bottom;
    padding: 5px 20px 0 20px;
    height: 45px;
    width: 90px;
}
.pwh-header-nav{
    position: absolute;
    top: 0;
    right: 60px;
    height: 60px;
    margin: 0;
}
.pwh-nav-item{
    display: inline-block;
    vertical-align: middle;
    line-height: 60px;
    list-style: none;
    padding: 0 20px;
}
.pwh-nav-item a{
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 56px;
    font-size: 16px;
}
.pwh-nav-item a:hover{
    color: white;
    border-bottom:4px solid #e66565; 
}
.pwh-this{
    color: white;
    border-bottom:4px solid #e66565; 
}
.pwh-body{
    width: 50%;
    position: absolute;
    top: 60px;
    bottom:0;
    border: 8px solid #822020;
}
.pwh-body-left{
    background: white;
    left: 0;
    border-right:1px solid #929292;
    transform: rotateY(-180deg);
    transform-origin:top right;
}
.pwh-body-left-shadow{
    width: 50%;
    position: absolute;
    top: 60px;
    right: 0;
    bottom: 0;
    background-color: #822020;
    transform: rotateY(0deg);
    transform-origin:top left;
    z-index:2;
}
.pwh-body-left-shadow div{
    position: relative;
    width: 80%;
    height: 90%;
    margin:5% 10% 15% 10%;
    border: 1px solid #868686;
    overflow: hidden;
    text-align: center;
}
.pwh-body-left-shadow div h1
{
    margin-top: 15%;
    color: #ffb800;
    font-size: 55px;
    opacity:0;
}
@keyframes title{
    from{transform:scale(5,5);opacity:0}
    to{transform:scale(1,1);opacity:1}
}
.pwh-body-left-shadow div h4
{
    margin-top: 25%;
    color: #ffb800;
    font-size: 20px;
    opacity:0;
}
@keyframes names{
    from{opacity:0}
    to{opacity:1}
}
.setindex{
    z-index: 3;
}
@keyframes book1{
    from{transform: rotateY(-180deg);}
    to{transform: rotateY(0deg);}
}
@keyframes book2{
    from{transform: rotateY(0deg);}
    to{transform: rotateY(180deg);}
}
@keyframes myalert{
    from{top:-30%;}
    to{top:50%;}
}
.pwh-body-right{
    background: white;
    right: 0;
    border-left:none;
}
.pwh-body-content-left{
    width:500px;
    margin: auto;
    height:100%; 
    overflow-x:hidden;
    overflow-y:auto;
}
.pwh-body-content-right{
    width:700px;
    margin: auto;
    height:100%; 
    overflow-y:auto;
}
.pwh-inx-left{
    width: 500px;
    margin: 250px auto 20px;
    text-align: center;
}
.pwh-inx-left img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
 @keyframes shake{
        0%, 75%{-webkit-transform: none;transform: none}
        75%,78%{-webkit-transform: scale(1);transform: scale(1);}
        81%,84%{-webkit-transform: scale(1.2);transform: scale(1.2);}
        84%,91%{-webkit-transform: scale(1.1);transform: scale(1.1);}
        91%,90%{-webkit-transform: scale(1.4);transform: scale(1.4);}
        90%,100%{-webkit-transform: scale(1);transform: scale(1);}
    }
.pwh-inx-instuction{
    width: 600px;
    margin-top: 120px;
    text-align: left;
}
.ins-item{
    margin-left: 20px;
}
.ins-item-name{
    font-size: 16px;
    font-weight: 600;
}
.ins-list{
    display: inline-block;
    width: 250px;
    margin: 0 5px 0 16px;
}
.ins-prog{
    display:inline-block;
    width: 0;
    height: 10px;
    border-radius: 25px;
    background-color: green
}
.pwh-list{
    width: 600px;
    margin-top: 60px;
    text-align: left;
}
.back{
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 18px;
    background-color: #1E9FFF;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 60px;
}
.pwh-list li{
    margin-bottom: 50px;
}    
.pwh-list li p{
    margin: -3px 0 0 35px;
    color: #a5a5a5;
    font-size: 13px;
}
.pwh-list a{
    font-size:20px;
    font-weight: 600;
    color:#5588ff;  
}
.pwh-list a:hover{
    color: #e66565;
}    
.pwh-list a:link{
    color: #5588ff;
}
.pwh-list .repo-icon {
    float: left;
    margin-top: 2px;
    margin-right: 15px;
    color: #666;
}
.octicon {
    display: inline-block;
    vertical-align: text-bottom;
    fill: currentColor;
}
/*.pwh-footer{
    width: 100%;
    height: 50px;
    padding: 5px 0;
    position: fixed;
    bottom: 0;
    height: 44px;
    line-height: 44px;
    padding: 0 15px;
    background-color: #eee;
    text-align: center;
    color: #666;
    font-weight: 300;
}*/
.pwh-alert-btn{
    padding-top: 10px;
    text-align: center;
    padding: 12px 15px 12px;
    pointer-events: auto;
    user-select: none;
    -webkit-user-select: none;
    background-color: white;
}
.pwh-alert-btn a{
    height: 28px;
    line-height: 28px;
    margin: 5px 5px 0;
    padding: 0 15px;
    border: 1px solid #dedede;
    border-color: #1E9FFF;
    background-color: #1E9FFF;
    color: #fff;
    border-radius: 2px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
}